.carousel-item {
    min-height: 500px;
    background-size: cover;
}

.black {
    background-color: black;
    height: 500px;
    opacity: 0.4;
}

.carousel-caption {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .carousel-item {
        min-height: 400px;
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {
    .carousel-item {
        min-height: 300px;
        background-size: cover;
    }
    .carousel-item h5 {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .carousel-item {
        min-height: 200px;
        background-size: cover;
    }
    .carousel-caption > h1{
        font-size: 20px;
    }
}

